.app {
	margin: 1rem;
	line-height: 2rem;
}

input {
    margin-bottom: 1rem;
}

.children {
    margin-left: 3rem;
}

.parentNode {
	color: #0903a6;
	cursor: pointer;
}

.endNode {
    color: #eb3300;
}

.arrow {
	font-size: 0.8em;
	margin-left: 0.3em;
}